body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #1d1f22;
}
.content {
  padding: 0 110px;
}
/* ///PRODUCT */
.category_name {
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;
}

.product {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
.product_text_decoration {
  text-decoration: none;
}
.product_block {
  margin: auto;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 440px;
  margin-right: 50px;
  padding: 16px;
  text-align: left;
  position: relative;
}
.product_block img {
  width: 300px;
  height: 320px;
}
.product_block p {
  margin: 24px 0 0 0;
}
.product_currency {
  display: flex;
}
.unActive {
  display: none;
}
.activeCart {
  position: absolute;
  bottom: 80px;
  right: 70px;
  padding: 10px;
  border-radius: 50%;
  background-color: #5ece7b;
}

@media (max-width: 600px) {
  .content {
    padding: 0 20px;
  }
}
