.green {
    background-color: green !important;
}
.cyan {
    background-color: cyan !important;
}
.black {
    background-color: black !important;
}
.white {
    background-color: white !important;
}
.blue {
    background-color: blue !important;
}
